.auth-container {
    display: flex;

    align-items: center;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: row; /* Horizontal alignment */
    align-items: center;
    width: 800px;
    gap: 10px; /* Add space between form fields */
    margin: 0;
}

.form-field {
    display: flex;
    align-items: center;
    width: 500px;
    gap: 5px;
}

.input-field {
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 14px;
}

.input-error {
    color: red;
    font-size: 10px;
    margin-left: 10px;
}
