.working-scheduler {
    margin-top: 4px;
    font-size: 10px;
    font-family: sans-serif;
}

.working-scheduler__table {
    width: auto;
    border-collapse: collapse;
    font-size: inherit;
    background-color: transparent;
    border: none;
}

.working-scheduler__table th,
.working-scheduler__table td {
    padding: 2px 4px;
    text-align: left;
    border: none;
}

.working-scheduler__table thead {
    display: none; /* verberg kop als je nog compacter wil */
}
