.form-container {
    background-color: rgba(231, 225, 225, 0.39);
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    height: 100%;
    margin: 50px;
padding: 50px;
    gap : 0.5rem;
    }