.sub-bar {
    margin-bottom: 10px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 10px;
    list-style: none;
    margin-bottom: 10px;
}

.nav-bar-item {
    margin-right: 20px;
}


