/* General Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* Base font size for rem calculations */
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif; /* Replace with your preferred font */
    line-height: 1.5;
    color: #ffffff;
    background-color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


